{% extends "base.html" %}
{% block title %}Contact Us{% endblock title %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<div class="container mt-5 mb-5 p-4">
    <h1 class="mb-4 text-center">Contact Us</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <h2>Get in Touch</h2>
            <p>If you have any questions or need assistance, please feel free to reach out to us. We're here to help!</p>
            <h3>Contact Information</h3>
            <p><strong>Phone:</strong> +91 1234567890</p>
            <p><strong>Email:</strong> info@hospital.com</p>
            <p><strong>Address:</strong> 123 Hospital Street, Kochi, Kerala, India</p>
        </div>
        <div class="col-md-6">
            <h2>Send Us a Message</h2>
            <form method="post">
                {% csrf_token %}
                {{contact_form}}
                <button type="submit" class="btn btn-primary mt-3 mb-4">Send Message</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/contact.js' %}"></script>
{% endblock content %}
