{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Our Hospital</h1>
    <p class="lead">Providing exceptional healthcare services to our community.</p>
    <hr class="my-4">
    <p>We offer a wide range of medical services to meet your needs.</p>
    <a class="btn btn-primary btn-lg" href="{% url "department" %}" role="button">Learn more</a>
</div>

<div class="container mt-5 mb-5 d-flex align-items-center flex-column">
    <h2 class="mb-4 text-center">Our Services</h2>
    <div class="row">
        {% for d in dept %}
       
        {% endfor %}
    </div>
</div>
{% endblock content %}